@media screen and (-webkit-min-device-pixel-ratio:0) { 
 div{top:0;} 
}

/*LoL Professional Top10*/
.body_div{
display:inline-block;
position:absolute;
width:1000px;
height:100%;
background-color: rgb(150,250,250);
top:0px;
}

.sidemenu{
display:inline-block;
position: absolute;
width:190px;
height:900px;
background-color: rgb(50,50,50);
top:5px;
left:5px;
}

.sm_button{
position:relative;
background-color: rgb(150,150,150);
margin-left:5px;
margin-top:5px;
top:5px;
width:180px;
height:80px;
}

.table_main{
display:block;
position: absolute;
width:358px;
height:100%;
top:5px;
left:200px;
background-color: rgb(150,150,150);
}

.table_main tr{
font-family:none;
border-collapse: collapse;
}

.text_container{
position:absolute;
width:100%;
height:100%;
vertical-align:middle;
text-align:center;
margin:0px;
top:4px;
}

.text_container2{
position:absolute;
width:100% - 5px;
height:100%;
vertical-align:middle;
text-align:left;
padding-left:5px;
margin:0px;
top:4px;
}

.text_container3{
position:absolute;
width:100%;
height:100%;
vertical-align:middle;
text-align:center;
margin:0px;
top:4px;
left:-2px;
letter-spacing:-2px;
}

.table_row{

}

/*
.type0{
display:inline-block;
position: relative;
width:358px;
height:38px;
background-color:rgb(0,50,150);
z-index:10;
margin-bottom:-0px;
margin-top:-0px;
}
*/
.type0{
display:none;
}

.type1{
color: rgb(255,255,255);
background-color: rgb(50,50,50);
font-family:roboto;
font-size:24px;
display:inline-block;
position:relative;
width:28px;
height:38px;
margin-left:-0px;
margin-right:0px;
margin-bottom:0px;
margin-top:-0px;

top:-0px;
z-index:8;
}

.type2{
color: rgb(255,255,255);
background-color: rgb(50,50,50);
font-family:roboto;
font-size:24px;
text-align:center;
display:inline-block;
position: relative;
width:66px ;
height:38px;
margin-left:-3px;
margin-right:0px;
margin-bottom:0px;
margin-top:0px;
top:-0px;
z-index:8;
}

.type3{
color: rgb(255,255,255);
background-color: rgb(50,50,50);
font-family:roboto;
font-size:24px;
text-align:left;
display:inline-block;
position:relative;
width:242px;
height:38px;
margin-left:-2px;
margin-right:0px;
margin-bottom:0px;
margin-top:0px;
top:-0px;
z-index:8;
}

.type4{
background-color: rgb(50,50,50);
display:inline-block;
position: relative;
width:16px ;
height:38px;
margin-left:-3px;
margin-right:0px;
margin-bottom:-10px;
margin-top:0px;
top:-10px;
z-index:8;
} 

.type5{
background-color: rgb(150,50,250);
display:inline-block;
position: relative;
width:354px;
height:370px;
display:none;
margin-left:0px;
margin-right:0px;
margin-bottom:-42px ;
margin-top:0px;
left:0px;
top:-50px;
z-index:5;
border-style: solid;
border-width: 2px;
border-color: rgb(0,0,0);
}

.type5_sub{
display:incline-block;
position:absolute;
width:340px;
height:318px;
background-color: rgb(50,50,250);
top:46px;
left:8px;
}

.type6{
display:inline-block;
width:358px ;
height:38px;
background-color: rgb(50,50,50);
margin-bottom:0px ;
margin-left:0px;
}
/*
#main_r1c0{
top:40px;
}

#main_r3c0{
top:73px;
}

#main_r5c0{
top:106px;
}

#main_r7c0{
top:139px;
}
*/















